
/* General Elements */
* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-image: url("images/bg.jpg");
}

/* ==================== Specific Elements ===================== */

/* =============== Header ===============*/
header .col-1 {
  border-bottom: 3px solid #7F7D7A;
}

/* =========================== NAV Bar ============================= */
nav a {
  color: white;
  background-color: #A73634;
  padding: 10px 55px;
  border-bottom: 3px solid #7F7D7A;
}

/* ========================== Top Picture ============================= */
.top-picture {
  position: relative;
  border: 6px solid #FEFEFE;
  background-image: url(images/top-image.png);
  background-position: 30% 20%;
  margin: 30px;
}

.logo-image {
  position: absolute;
  top: 15%;
  z-index: 1;
}

.grid-image {
  position: relative;
  max-height: 350px;
}

.grid-image>img {
  height: 100%;
  opacity: .3;

}

/* ============================= News Bar ============================== */
.news-item {
  background-color: #FEFEFE;
  margin: 5px;
}
