@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Paytone+One');



/* General Elements */
* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-image: url("images/bg.jpg");
  font-family: "Montserrat", helvetica, sans-serif;
}

/* ==================== Specific Elements ===================== */

/* =============== Header ===============*/
.social-media {
  margin: 3px;
}

.social-media img {
  border-bottom: 3px solid #7F7D7A;
  width: 5vw;
}

#social-icon {
  width: 5vw;
}

/* =========================== NAV Bar ============================= */
nav {
  margin-top: 10px;
}

nav a {
  color: white;
  background-color: #A73634;
  /* Using nowrap and inline-block to keep the text from dropping when the screen shrinks,
  causing the font to resize */
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  /* Setting background to none to get rid of the default for an anchor tag */
  background: none;
}

nav>div {
  background-color: #c6001c;
  border-bottom: 3px solid #7F7D7A;
  text-align: center;
}

/* Adds spacing to the right except for the last-child which does not need it */
nav>div:not(:last-child) {
  margin-right: 10px;
}

/* ========================== Top Picture ============================= */
.top-picture {
  position: relative;
  margin-top: 20px;
}

.logo-image {
  position: absolute;
  top: 15%;
  /* z-index is used to move things on top of or behind other elements */
  z-index: 1;
  width: 30vw;
  min-width: 250px;
}

.grid-image {
  position: relative;
  max-height: 350px;
  background: url("images/top-image.png") no-repeat;
  background-size: 150%;
  background-position: 40% 34%;
  /* applied no gutters to the row to remove margins instead of doing manually like below */
  border: 6px solid #FEFEFE;
}

.grid-image>img {
  height: 100%;
  opacity: .3;
}

/* ============================= News Bar ============================== */
#news {
  margin-top: 20px;
}

.news-item {
  font-family: "Montserrat", helvetica, sans-serif;
}

.news-item article {
  background-color: #FEFEFE;
  height: 20em;
  position: relative;
  padding: 15px;
}

.news-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.news-text {
  font-size: .8rem;
  margin-left: 10px;
  margin-right: 10px;
  /* Using overflow hidden to contain text */
  overflow: hidden;
  max-height: 10em;
}

.news-time {
  color: #C8C8C8;
  margin-left: 10px;
}

.news-button {
  color: #B04948;
  background-color: white;
  /* Removing some of the additional styling */
  -webkit-appearance: none;
  border: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-weight: bolder;
}

/* ========================= Skateboarders Bar ========================== */
#skateboarders {
  margin-top: 20px;
}

.skateboarder-bio {
  font-family: "Paytone+One", helvetica, sans-serif;
}

.bio-image {
  /* Using display flex to center align text */
  display: flex;
  border: 5px solid #FEFEFE;
  align-items: center;
}

.bio-image>h1 {
  color: #FEFEFE;
  position: absolute;
  left: 50%;
  transform: translateX(-80%);
  width: 10vw;
  min-width: 10px;
}

#bottom-left {
  padding: 0;
  margin-top: 10px;
}

.bottom-left-img img {
  /* restrict the size of the bottom image to be more proportional to the others */
  max-height: 325px;
}

#right-bio {
  padding: 0;
}

#right-bio>div {
  height: 100%;
  /* Overflow hidden to remove the overflow when widening the picture */
  overflow: hidden;
}

#right-bio img {
  /* Setting height to 100% to lengthen it to match the div, increasing width to maintain ratio.
  used in conjuction with overflow hidden above */
  height: 100%;
  width: 110%;
}

/* ============================ Board Designs ============================ */
#board-design {
  background-color: #FFFFFE;
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: "Montserrat", helvetica, sans-serif;
  width: 100%;
}

#board-design div {
  padding: 15px;
}

/* On medium screens, need to rotate the board picturs 90 degrees and shrink the picture */
@media (max-width: 768px) {
  #board-design .col-12 {
    max-height: 25vw;
    padding: 0;
    transform: translateY(-70%);
  }

  #board-design img {
    transform: rotate(90deg) translateY(-45%);
    width: 15vw;
  }
}

/* For small screens need to shrink further and reposition */
@media (max-width: 540px) {
  #board-design .col-12 {
    max-height: 25vw;
    padding: 0;
    transform: translateY(-70%);
  }

  #board-design img {
    transform: rotate(90deg) translateY(-66%);
    width: 15vw;
  }
}

/* ============================= Contact Us =============================== */
#contact-us {
  background-color: #FFFFFE;
  padding: 20px;
  font-family: "Montserrat", helvetica, sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

#contact-us .side-info h1 {
  font-size: 1.5rem;
}

#contact-us .side-info p {
  font-size: .8rem;
}

#contact-us .btn-danger {
  background-color: #A73634;
  border-radius: 0;
  padding-left: 60px;
  padding-right: 60px;
  /* positioning button to the right side */
  position: absolute;
  right: 0;
  margin-top: 15px;
}

/* Form-control is part of bootstrap, editing the default styling */
#contact-us .form-control {
  color: #BEBEBE;
  margin: 10px;
  border-top: 4px solid #BEBEBE;
  border-left: 4px solid #BEBEBE;
  position: relative;
}

#contact-us .contact-form {
  margin: 10px;
}

/* Small Social Media Icons */
.small-icon>img {
  width: 3vw;
  margin-bottom: 20px;
}
